<div class="modal-header">
    <h4 class="modal-title">Add project</h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" 
                class="form-control"
                formControlName="Name" />
            </div>
            <div class="form-group">
                <label for="username">Description</label>
                <input type="text" 
                    class="form-control"
                    formControlName="Description" />
            </div>
            <div class="form-group">
                <label for="username">CustomerName</label>
                <input type="text" 
                    class="form-control"
                    formControlName="CustomerName" />
            </div>
            <div class="form-group">
                <label for="username">StartDate</label>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                                name="start-date" #c2="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="StartDate" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                    <label for="username">EndDate</label>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="start-date" #c2="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="EndDate" ngbDatepicker #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                            </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"
        [disabled]="!myForm.valid">
        Submit
        </button>
    </div>
</form>