<nav class="navbar header navbar-expand-sm" *ngIf="currentUser">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
               Home 
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">
                Admin
            </a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/employee/{{currentUser.Id}}">Hello, {{ currentUser.FullName }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>